.feedback-form {
  width: 406px;
  border-color: rgb(255, 255, 255);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.feedback-form input {
  height: 40px;
}
.feedback-form textarea {
  height: 80px;
  resize: none;
}

.feedback-form input,
.feedback-form textarea {
  width: 360px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border-color: #808080;
}

.feedback-form button {
  margin-top: 8px;
  border-radius: 8px;
  background-color: #4e75ff;
  padding: 8px 16px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.feedback-form button:hover,
.feedback-form button:active {
  background-color: #3055ff;
}
